body {
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.container-md {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: purple;
    height: 90%;
}

.row {
    height: 100%;
}

.col-sm-3, .col-sm-9 {
    color: white;
    border: solid white 1px;
}






/* body {

}

.background {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    grid-area: 1 / 1 / 20 / 20; 
    background-color: grey;
}
    
.navContainer { 
    display: fixed;
    grid-area: 3 / 3 / 19 / 6; 
    background-color: blue;
}
.bodyContainer { 
    display: fixed;
    grid-area: 3 / 6 / 19 / 19; 
    background-color: red;
}

.logo {
    grid-area: 3 / 3 / 7 / 6; 
    background-color: rgb(66, 189, 17);
}

.navigation {
    grid-area: 7 / 3 / 18 / 6; 
    background-color: rgba(0, 255, 34, 0.486);
}

.navFooter {
    grid-area: 18 / 3 / 19 / 6; 
    background-color: rgba(189, 8, 235, 0.486);
} */