@media only screen and (max-width: 575px) {
    div h1 {
        letter-spacing: 0 !important;
        font-size: 1.5em !important;
    }

    div h3, p {
        letter-spacing: 0 !important;
        font-size: .75em !important;
    }

    .contactButtons{
        width: 90% !important;
    }
    
}

a:active {
    transform: scale(95%);
}

body {
    height: 100vh;
    color: #F6F2E2;
    background-color: #F6F2E2;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 24px;
}

p {
    font-size: 20px;
    font-weight: 200;
}

hr {
    border: none;
    color: #8F877D;
    margin: 10px;
}

.body {
    height: 100%;
    width: 100%;
}


.homeImage {
    background: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1476&q=80");
}

.skillsImage {
    background: url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80");
}

.projectsImage {
    background: url("https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");

}

.contactImage {
    background: url("https://images.unsplash.com/photo-1519309621146-2a47d1f7103a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1173&q=80")
}

.imgHeader {
    margin-top: 10px;
    height: 30%;
    width: 100%;
    border: 1px solid #F6F2E2;
    background-position: right 35% bottom 30%;
    background-size: cover;
}

.overlay {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.textWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imageTitle {
    font-weight: 100;
    font-size: 65px;
    letter-spacing: 15px;
    margin-bottom: 30px;
}

#imageSubTitle {
    font-weight: 100;
    font-size: 25px;
}

#bodyContent {
    color: #8F877D;
    font-weight: 300;
    margin: auto;
    width: 80%;
    text-align: justify;
}

.contactMe {
    font-size: 16px;
    text-align: center;
}

#bodyContent:last-child{
    padding-bottom: 50px;
}

.dogs {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dogs img {
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;
    height: 150px;
}

.dog-card {
    border-radius: 12%;
    margin-bottom: 20px;
    border: 2px solid #1F3131;
}

.dog-card-text {
    text-align: center;
    font-size: 14px;
}

.card-text {
    text-align: left;
    font-size: 14px;
}

.skill-card-body {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 115px;
}

.card-right {
    padding-left: 20px;
}

.card-left{ 
    margin-left: 20px;
}

.skill-card {
    margin-bottom: 10px;
}

.family {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.family img {
    margin-top: 20px;
    width: 250px;
    border: 2px solid #1F3131;
    border-radius: 12%;
}

.fab, .fas {
    color: #1F3131;
}

.skill-card-body:hover .fab, .skill-card-body:hover .fas, .fab:hover, .fas:hover{
    color: #DB9A55;
}

.contactButtons {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    margin: 10px;
}

form textarea {
    margin: 20px;
    width: 100%;
    height: 200px;
}

form button {
    width: 20%;
}